.App {
  text-align: center;
}

svg.play {
  position: absolute;
  top: 55%;
  left: 49.8%;
  transform: translate(-50%, -50%);
}
/* svg.king {
  width: 200px;
  position: absolute;
  top: -300px;
} */
svg.queen {
  width: 190px;
  top: -50px;
  position: absolute;
}
/* svg.queen:hover {
  box-sizing: border-box;
  border: solid 1px red;
} */
/* svg.queen:hover {
  opacity: 0;
  transition: opacity 1s ease;
} */
/* .selected {
  border: 1px solid blue;
} */

.botText2 {
  margin-top: 0px;
  display: "flex";
  justify-content: "center";
  box-sizing: border-box;
  border: solid 2px blue;
}
.friendText {
  margin-top: 70px;
}
.friendText2 {
  margin-top: 70px;
  box-sizing: border-box;
  border: solid 2px black;
}

.botText:hover {
  border: solid 1px blue;
  box-sizing: border-box;
}
.friendText:hover {
  border: solid 1px black;
  box-sizing: border-box;
}

div.formButtons {
  position: absolute;
  top: 55%;
  left: 49.8%;
  transform: translate(-50%, -50%);
}

svg.github {
  width: 80px;
  position: absolute;
  right: 175px;
  bottom: 2px;
  border-radius: 75%;
}

svg.medium {
  width: 80px;
  border-radius: 20%;
  position: absolute;
  right: 40px;
  bottom: 1px;
}
/*   min-width: 3.2%;
  max-width: 4.8%;
  height: auto; 
*/

svg.medium:hover {
  filter: invert(48%) sepia(76%) saturate(2764%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}
svg.github:hover {
  fill: red;
}

div.container {
  margin: 50px;
}
span.x {
  border-radius: 2.5px;
  margin: 18px;
  font-size: 40px;
  box-sizing: border-box;
  border: solid 1px black;
  background: black;
  color: white;
  padding: 0 2.5px 0 2.5px;
  cursor: pointer;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
}

span.x:hover {
  color: black;
  border: solid 3px black;
  background: white;
}
#a {
}
