.App {
  text-align: center;
}

img.play {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg.github {
  width: 90px;
  position: absolute;
  right: 180px;
  bottom: 2px;
}

svg.medium {
  width: 85px;
  border-radius: 20%;
  position: absolute;
  right: 35px;
  bottom: 1px;
}
/*   min-width: 3.2%;
  max-width: 4.8%;
  height: auto; 
*/

svg.medium:hover {
  filter: invert(48%) sepia(76%) saturate(2764%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}
svg.github:hover {
  fill: red;
}
