.App {
  text-align: center;
}

img.play {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.github {
  max-width: 3.5%;
  height: auto;
  position: absolute;
  right: 80px;
  bottom: 0px;
}

img.medium {
  max-width: 3.2%;
  height: auto;
  border-radius: 55%;
  position: absolute;
  right: 25px;
  bottom: 1px;
}
